.opener{
    background-color: #48194a;
    font-family: "Pixelify Sans", serif;
     color: #fdfcff;
}
a{
    color: limegreen;
}
a:visited{
    color: red;
}
.navigation{
    text-align: right;
}

.Me{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Pixelify Sans", serif;
    color: #fdfcff;
    text-shadow: 2px 2px 2px rgb(170, 22, 22);
    width: 800px; 
    height: 800px;
   
}

 #me{
   position: flex;
    /* width: 400px;
    z-index: -1000; */
} 

.Hobbies{
 /* font-family: Georgia, 'Times New Roman', Times, serif;  */
 font-family: "Pixelify Sans", serif;
 font-size: large;
  color: #fdfcff;
  text-shadow: 2px 2px 2px rgb(170, 22, 22);
  background-color: rgb(0, 0, 0);
}

.About{
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
font-family: "Pixelify Sans", serif;
font-size: large;
color: #fdfcff;
background-color: rgb(0, 0, 0);
text-shadow: 2px 2px 2px rgb(170, 22, 22);
}

body{
    background-color: rgb(0, 0, 0);
}

.Experience{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Pixelify Sans", serif;
    font-size: large;
    color: #fdfcff;
    background-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(170, 22, 22);
}

.Goals{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Pixelify Sans", serif;
    font-size: large;
    color: #fdfcff;
    background-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(170, 22, 22);
}

.codeProjects{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Pixelify Sans", serif;
    font-size: large;
    color: #fdfcff;
    background-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(170, 22, 22);
}

.personalWork{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Pixelify Sans", serif;
    font-size: large;
    color: #fdfcff;
    background-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(170, 22, 22);
}

.masterDiv{
    background-color: black;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #43ff04;

}

p{
    line-height: 1.8em;
    max-width: 800px;
}

.findMe{
    justify-content: center;
}
img{
    width: 400px;
}

.github:hover::before{
  content: ">>";
   color: #460db8;
  background-color: black;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #c40ace;

}

.gitAlt:hover::before{
  content: ">>";
   color: #460db8;
  background-color: black;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #c40ace;

}

.linkedin:hover::before{
  content: ">>";
   color: #460db8;
  background-color: black;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px#c40ace;

}

footer{
    content: ">>";
   color: #6b04a2;
  background-color: black;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2pxz#43ff04;
}

.TheList:hover::before{
  content: ">>";
  color: rgb(103, 4, 153);
  position: absolute;
  left: -30px;
}

.contentHeading{
    color: white;
}